@model IIKI.BaseApp.Business.Objects.UserInfo
@{
    ViewBag.Title = "User Information";
}

@using (Html.BeginForm("AddEditUserInfo", "Profile", FormMethod.Post, new { role = "form", @id = "UserInfoForm" }))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.UserId)
    @Html.HiddenFor(model => model.ContactId)

    <div id="accordion">
        <div class="card icard card-bordered">
            <div class="card-header" >
                <a class="collapse-icon" data-bs-toggle="collapse" data-bs-target="#userInfo" aria-expanded="true"></a>
                <span>User Info</span>
            </div>

            <div id="userInfo" class="collapse show" aria-labelledby="userInfo" data-parent="#accordion">
                <div class="card-body">
                    <div class="row form-group">
                        <div class="col-md-6">
                            <label for="FirstName">First Name <span class='required-mark'>*</span></label>
                            @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", @placeholder = "First Name" } })
                        </div>

                        <div class="col-md-6">
                            <label for="LastName">Last Name <span class='required-mark'>*</span></label>
                            @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Last Name" } })
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-6">
                            <label for="Email">Email</label>
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Email" id="Email" name="Email" value="@(Model.UserEmail)" readonly="readonly" />
                                <span class="input-group-addon @(Model.EmailConfirmed ? "text-success" : "text-danger")"><i class="@(Model.EmailConfirmed ? "pe-7s-check" : "pe-7s-close-circle")"></i></span>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <label for="PhoneNumber">Phone Number</label>

                            <input type="text" class="form-control" placeholder="Phone Number" id="PhoneNumber" name="PhoneNumber" value="@(Model.PhoneNumber)" />
                            <input type="hidden" id="DBPhoneNumber" value="@(Model.PhoneNumber)" />
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-lg-12">
                            <div class="mt-2 text-right">
                                <button class="btn btn-sm btn-dark m-t-n-xs" type="submit"><i class="fa fa-save"></i> Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



}

