<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
</head>
<body class="landing is-preload">
    @*<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
            <div class="container">
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("About", "About", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container body-content">*@

    <!-- Page Wrapper -->
    <div id="page-wrapper">

        <!-- Header -->
        <header id="header" class="alt">
            <a class="navbar-brand" href="@Url.Action("Index","Home")">
                <img src="~/Resources/Images/logo.png" class="nav-logo-img" />
            </a>
            <nav id="nav">
                <ul>
                    <li class="special">
                        <a href="#menu" class="menuToggle"><span>Menu</span></a>
                        <div id="menu">
                            <ul>
                                <li><a href="/Home/Index">Home</a></li>
                                <li><a href="#">About</a></li>
                                <li><a href="#">Instructions</a></li>
                                <li><a href="@System.Configuration.ConfigurationManager.AppSettings["WebPortalURL"]Account/Register/" target="_blank">Sign Up</a></li>
                                <li><a href="@System.Configuration.ConfigurationManager.AppSettings["WebPortalURL"]Account/Login" target="_blank">Log In</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </nav>
        </header>

        @RenderBody()

        <!-- Footer Start -->
        <div id="footer" class="container-fluid footer  page-Section py-2">
            <div class="container">
                <div class="copyright">
                    <div class="row">
                        <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                            &copy; <a class="border-bottom" href="#">The AFNS</a>, All Right Reserved.
                        </div>
                        <div class="col-md-6 text-center text-md-end">
                            Designed By: <a class="border-bottom" href="https://kodearium.com">Kode Arium</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End -->
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")


    <!-- Scripts -->
    <script src="~/Scripts/jquery.scrollex.min.js"></script>
    <script src="~/Scripts/jquery.scrolly.min.js"></script>
    <script src="~/Scripts/browser.min.js"></script>
    <script src="~/Scripts/breakpoints.min.js"></script>
    <script src="~/Scripts/util.js"></script>
    <script src="~/Scripts/main.js"></script>


    @RenderSection("scripts", required: false)
</body>
</html>
