@model List<IIKI.BaseApp.Business.Objects.UserMainModule>
@using System.Security.Claims;
@using IIKI.GoRoomy.WebApp.Utility;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var CurrentUser = ((ClaimsIdentity)Context.User.Identity).GetUserInfo();
    if (ViewBag.EditUser != null)
    {
        ViewBag.Title = "Edit Rights for " + ViewBag.EditUser.RoleName;
    }
    else
    {
        ViewBag.Title = "Add Role";
    }
    string currentControllerName = this.ViewContext.RouteData.Values["controller"].ToString();
    string currentAreaName = Convert.ToString(this.ViewContext.RouteData.DataTokens["area"]);
}


<div class="card ipage-header  transition animated fadeIn  ">
    <div class="card-body">
        <a class="expand-collapse-header-action" href=""><div class="expand-collapse-header"><i class="fa fa-arrow-up"></i></div></a><h2>@ViewBag.Title</h2>
        <small>Add/Remove Rights of User</small>
        <div class="float-right">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index","Dashboard", new { area = "Admin" })">Dashboard</a></li>
                    <li class="breadcrumb-item"><a href="@Url.Action("Index","UserRoles", new { area = "Admin" })">User Roles</a></li>
                    <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
                </ol>
            </nav>
        </div>
    </div>
</div>

<div class=" ipage-content">

    <div class="card icard">
        <div class="card-header">
            @if (ViewBag.EditUser != null)
            {
                <span>Add/Remove the rights against Member</span>
            }
            else
            {
                <span>Enter the Email Address of the Member to Add as Member</span>
            }
        </div>
        <div class="card-body">
            <div>
                @if (ViewBag.EditUser != null)
                {
                    <strong>@(ViewBag.EditUser.RoleName)</strong>
                }
                else
                {
                    <a href="#" id="email" name="email" data-pk="@(CurrentUser.RoleName)" data-type="text" data-title="Enter Email Address" data-placeholder="Enter Email Address" class="editable editable-click editable-empty"></a>
                }
                <span id="SaveRights" class="float-right">
                    <a href="@Url.Action("Index","UserRoles",new { area = "Admin" })" class="btn btn-default"><i class="fa fa-close"></i> Cancel</a>
                    <button class="btn btn-primary" type="submit" onclick="javascript: document.getElementById('rightsForm').submit()">Save Rights</button>
                </span>
            </div>

        </div>

    </div>
    @using (Html.BeginForm("AddEdit", "UserRoles", new { area = "Manage" }, FormMethod.Post, new { role = "form", @id = "rightsForm" }))
    {
        string RoleName = (ViewBag.EditUser != null ? ViewBag.EditUser.RoleName : "");
        string RoleId = (ViewBag.EditUser != null ? ViewBag.EditUser.RoleId : "");

        @Html.Hidden("RoleName", RoleName, new { @id = "RoleName" })
        @Html.Hidden("RoleId", RoleId, new { @id = "RoleId" })
        <div id="UserRights">
            @foreach (var module in Model)
            {
                <div id="accordion">
                    <div class="card icard">
                        <div class="card-header">
                            <span>
                                @(module.ModuleName)
                            </span>
                            <a class="collapse-icon" data-bs-toggle="collapse" data-bs-target="#rightsInfo" aria-expanded="true"></a>
                        </div>
                        <div id="rightsInfo" class="collapse show" aria-labelledby="rightsInfo" data-parent="#accordion">

                            @if (module.ApplicationAreas != null && module.ApplicationAreas.Count > 0)
                            {
                                @Html.Partial("_ApplicationAreas", module.ApplicationAreas)
                            }
                            else
                            {
                                <div class="card-body">No Rights Assigned</div>
                            }
                        </div>
                    </div>
                </div>

            }
        </div>
    }
</div>

@section Styles {
    @Styles.Render("~/bundles/xeditable/css")
}

@section Scripts {
    @Scripts.Render("~/bundles/xeditable/js")

    @if (ViewBag.EditUser == null)
    {
        <script type="text/javascript">
            $.fn.editable.defaults.mode = 'inline';
            $(function () {

                $("#SaveRights").hide();
                $("#UserRights").hide();

                var emailField = $("#email")

                emailField.editable({
                    url: 'ValidateSubUser',
                    type: 'text',
                    dataType: 'text',
                    title: 'Enter Email Address',
                    emptytext: 'Click to select Email Address of Sub User',
                    validate: function (value) {
                        if ($.trim(value) == '') return 'This field is required';
                    },
                    error: function (response, newValue) {
                        if (response.status === 500) {
                            $("#SaveRights").hide();
                            $("#UserRights").hide();
                            return 'Service unavailable. Please try later.';
                        } else {
                            $("#SaveRights").hide();
                            $("#UserRights").hide();
                            return response.responseText;
                        }
                    },
                    success: function (response, newValue) {
                        if (response != "Invalid") {
                            $("#SaveRights").show();
                            $("#UserRights").show();
                            $("#SubUserEmail").val(newValue);
                            $("#SubUserId").val(response);
                            return true;
                        }
                        else {
                            $("#SaveRights").hide();
                            $("#UserRights").hide();
                            return 'Service unavailable. Please try later.';
                        }
                    }
                });

                emailField.click();
            });
        </script>
    }
    <script src="~/Areas/Members/Scripts/AddEditSubUser.js" type="text/javascript"></script>
}

