@model IIKI.BaseApp.Business.Objects.BaseAppModel.StateProvince
@using IIKI.BaseApp.Localization.Resources;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    string menuName = StateProvinceLabels.AddEditTitle;
    ViewBag.Title = ViewBag.Title + " " + menuName;
    string currentControllerName = this.ViewContext.RouteData.Values["controller"].ToString();
    string currentAreaName = Convert.ToString(this.ViewContext.RouteData.DataTokens["area"]);

}

<div class="card ipage-header  transition animated fadeIn  ">
    <div class="card-body">
        <a class="expand-collapse-header-action" href=""><div class="expand-collapse-header"><i class="fa fa-arrow-up"></i></div></a><h2>@ViewBag.Title</h2>
        <div class="float-right">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
                </ol>
            </nav>
        </div>
    </div>
</div>


<div class="ipage-content">

    @using (Html.BeginForm("AddEdit", currentControllerName, new { Area = currentAreaName }, FormMethod.Post, new { role = "form", @class = "", @id = "AddEditForm" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        <div class="buttons-wraper ipage-buttons-top">
            <div class="row">
                <div class="col-md-12">
                    <div class="float-right">
                        <button type="submit" class="btn btn-dark btn-sm btnFormSubmit"><i class="fa fa-save"></i> Save</button>
                        <a href="@Url.Action("Index")" class="btn btn-secondary btn-sm btnBackToList"><i class="fas fa-times"></i> Cancel</a>
                    </div>
                </div>
            </div>
        </div>
        <div id="accordion">
            <div class="card icard">
                <div class="ibar"><div class="bar ibar-striped ibar-animated"></div></div>
                <div class="card-header">
                    <span class="card-title">@menuName Information</span>
                    <a class="collapse-icon" data-bs-toggle="collapse" data-bs-target="#@(menuName.Trim().Replace(" ", "")+"_Info")" aria-expanded="true"></a>
                </div>
                <div id="@(menuName.Trim().Replace(" ", "")+"_Info")" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        <div class="row form-group">
                            <div class="col-md-@Model.BootstrapUIColVal">
                                @Html.LabelFor(model => model.StateProvinceName, htmlAttributes: new { @class = "control-label required-field" })
                                @Html.ValidationMessageFor(m => m.StateProvinceName, "", new { @class = "text-danger" })
                                @Html.EditorFor(model => model.StateProvinceName, new { htmlAttributes = new { @class = "form-control", @placeholder = @Html.DisplayNameFor(m => m.StateProvinceName) } })
                            </div>
                            @if (Model.BootstrapUIColVal == 12)
                            { @Html.Raw("</div><div class=\"row form-group\">") }

                            <div class="col-md-@Model.BootstrapUIColVal">
                                @Html.LabelFor(model => model.ISO2, htmlAttributes: new { @class = "control-label required-field" })
                                @Html.ValidationMessageFor(m => m.ISO2, "", new { @class = "text-danger" })
                                @Html.EditorFor(model => model.ISO2, new { htmlAttributes = new { @class = "form-control", @placeholder = @Html.DisplayNameFor(m => m.ISO2) } })
                            </div>
                            @if (Model.BootstrapUIColVal == 12 || Model.BootstrapUIColVal == 6)
                            { @Html.Raw("</div><div class=\"row form-group\">") }
                            <div class="col-md-@Model.BootstrapUIColVal">
                                @Html.LabelFor(model => model.CountryId, htmlAttributes: new { @class = "control-label required-field" })
                                @Html.ValidationMessageFor(model => model.CountryId, "", new { @class = "text-danger" })
                                @Html.DropDownListFor(model => model.CountryId, new SelectList(Model.Countries, "Id", "CountryName"), "--SELECT--", new { @class = "form-control" })
                            </div>
                            @if (Model.BootstrapUIColVal == 12 || Model.BootstrapUIColVal == 4)
                            { @Html.Raw("</div><div class=\"row form-group\">") }

                            <div class="col-md-@Model.BootstrapUIColVal">
                                @Html.LabelFor(model => model.CountryCode, htmlAttributes: new { @class = "control-label required-field" })
                                @Html.ValidationMessageFor(m => m.CountryCode, "", new { @class = "text-danger" })
                                @Html.EditorFor(model => model.CountryCode, new { htmlAttributes = new { @class = "form-control", @placeholder = @Html.DisplayNameFor(m => m.CountryCode) } })

                            </div>
                            @if (Model.BootstrapUIColVal == 12 || Model.BootstrapUIColVal == 6 || Model.BootstrapUIColVal == 3)
                            { @Html.Raw("</div><div class=\"row form-group\">") }

                            <div class="col-md-@Model.BootstrapUIColVal">
                                @Html.LabelFor(model => model.FIPSCode, htmlAttributes: new { @class = "control-label required-field" })
                                @Html.ValidationMessageFor(m => m.FIPSCode, "", new { @class = "text-danger" })
                                @Html.EditorFor(model => model.FIPSCode, new { htmlAttributes = new { @class = "form-control", @placeholder = @Html.DisplayNameFor(m => m.FIPSCode) } })
                            </div>
                            @if (Model.BootstrapUIColVal == 12)
                            { @Html.Raw("</div><div class=\"row form-group\">") }

                            <div class="col-md-@Model.BootstrapUIColVal">
                                @Html.LabelFor(model => model.WikiDataId, htmlAttributes: new { @class = "control-label required-field" })
                                @Html.ValidationMessageFor(m => m.WikiDataId, "", new { @class = "text-danger" })
                                @Html.EditorFor(model => model.WikiDataId, new { htmlAttributes = new { @class = "form-control", @placeholder = @Html.DisplayNameFor(m => m.WikiDataId) } })
                            </div>
                            @if (Model.BootstrapUIColVal == 12 || Model.BootstrapUIColVal == 6 || Model.BootstrapUIColVal == 4 || Model.BootstrapUIColVal == 2)
                            { @Html.Raw("</div><div class=\"row form-group\">") }

                            <div class="col-md-@Model.BootstrapUIColVal mt-2rem">
                                @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "control-label-q" })
                                @Html.EditorFor(model => model.IsActive, new { htmlAttributes = new { @class = "checkBoxField" } })
                                @Html.ValidationMessageFor(m => m.IsActive, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="buttons-wraper ipage-buttons-bottom">

            <div class="row">
                <div class="col-md-12">
                    <div class="float-right">
                        <button type="submit" class="btn btn-dark btn-sm btnFormSubmit"><i class="fa fa-save"></i> Save</button>
                        <a href="@Url.Action("Index")" class="btn btn-secondary btn-sm btnBackToList"><i class="fas fa-times"></i> Cancel</a>
                    </div>
                </div>
            </div>

        </div>
    }

</div>


@*@section Scripts {
        <script>

            $(document).ready(function () {
                $(document).on("click", ".btnFormSubmit", function () {
                    if ($("#AddEditForm").valid()) {
                        ShowStickyPopup();
                    }
                });
                $(document).on("click", ".btnBackToList", function () {
                    ShowStickyPopup();
                });
            });
        </script>
    }*@
