@model IIKI.BaseApp.Business.Objects.MainModule
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    string menuName = IIKI.BaseApp.Localization.Resources.MainModuleLabels.AddEditTitle;
    ViewBag.Title = ViewBag.Title + " " + menuName;
    string currentControllerName = this.ViewContext.RouteData.Values["controller"].ToString();
    string currentAreaName = Convert.ToString(this.ViewContext.RouteData.DataTokens["area"]);
}

<div class="card ipage-header  transition animated fadeIn  ">
    <div class="card-body">
        <a class="expand-collapse-header-action" href=""><div class="expand-collapse-header"><i class="fa fa-arrow-up"></i></div></a><h2>@ViewBag.Title</h2>
        <div class="float-right">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
                </ol>
            </nav>
        </div>
    </div>
</div>


<div class="ipage-content">
    @using (Html.BeginForm("AddEdit", currentControllerName, new { Area = currentAreaName }, FormMethod.Post, new { role = "form", @class = "", @id = "AddEditForm" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        <div class="buttons-wraper ipage-buttons-top">
            <div class="row">
                <div class="col-md-12">
                    <div class="float-right">
                        <button type="submit" class="btn btn-dark btn-sm btnFormSubmit"><i class="fa fa-save"></i> Save</button>
                        <a href="@Url.Action("Index")" class="btn btn-secondary btn-sm btnBackToList"><i class="fas fa-times"></i> Cancel</a>
                    </div>
                </div>
            </div>
        </div>
        <div id="accordion">
            <div class="card icard">
                <div class="card-header">
                    <span class="card-title">@menuName.Trim() Information</span>
                    <a class="collapse-icon" data-bs-toggle="collapse" data-bs-target="#@(menuName.Trim().Replace(" ", "")+"_Info")" aria-expanded="true"></a>
                </div>
                <div id="@(menuName.Trim().Replace(" ", "")+"_Info")" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">

                        <div class="col-md-12">
                            <div class="row form-group">
                                <div class="col-md-6">
                                    @Html.LabelFor(m => m.ModuleCode, new { @class = "required-field control-label" })
                                    @Html.ValidationMessageFor(m => m.ModuleCode, "", new { @class = "text-danger" })
                                    @Html.EditorFor(model => model.ModuleCode, new { htmlAttributes = new { @class = "form-control", @placeholder = @Html.DisplayNameFor(m => m.ModuleCode) } })
                                </div>
                                <div class="col-md-6">

                                    @Html.LabelFor(m => m.ModuleName, new { @class = "required-field control-label" })
                                    @Html.ValidationMessageFor(m => m.ModuleName, "", new { @class = "text-danger" })
                                    @Html.EditorFor(model => model.ModuleName, new { htmlAttributes = new { @class = "form-control", @placeholder = @Html.DisplayNameFor(m => m.ModuleName) } })
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-6 mt-2rem">
                                    @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "control-label-q" })
                                    @Html.EditorFor(model => model.IsActive, new { htmlAttributes = new { @class = "checkBoxField" } })
                                    @Html.ValidationMessageFor(m => m.IsActive, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="buttons-wraper ipage-buttons-bottom">

            <div class="row">
                <div class="col-md-12">
                    <div class="float-right">
                        <button type="submit" class="btn btn-dark btn-sm btnFormSubmit"><i class="fa fa-save"></i> Save</button>
                        <a href="@Url.Action("Index")" class="btn btn-secondary btn-sm btnBackToList"><i class="fas fa-times"></i> Cancel</a>
                    </div>
                </div>
            </div>

        </div>
    }


</div>


@section Scripts {
    <script>

        $(document).ready(function () {
            $(document).on("click", ".btnFormSubmit", function () {
                if ($("#AddEditForm").valid()) {
                    ShowStickyPopup();
                }
            });
        });
    </script>
}
