<div class="common-hidden-fields">
    <!--Dates Formats-->
    <input type="hidden" id="JqueryDateTimeFormat" name="JqueryDateTimeFormat" value="@(IIKI.BaseApp.Common.DisplayFormats.DateTimeFormat.JqueryDateTimeFormat)" />
    <input type="hidden" id="JqueryDateFormat" name="JqueryDateFormat" value="@(IIKI.BaseApp.Common.DisplayFormats.DateTimeFormat.JqueryDateFormat)" />
    <input type="hidden" id="MomentDateFormat" name="MomentDateFormat" value="@(IIKI.BaseApp.Common.DisplayFormats.DateTimeFormat.MomentDateFormat)" />
    <input type="hidden" id="RangeDateFormat" name="RangeDateFormat" value="@(IIKI.BaseApp.Common.DisplayFormats.DateTimeFormat.RangeDateFormat)" />
    <input type="hidden" id="DatePickerFormat" name="DatePickerFormat" value="@(IIKI.BaseApp.Common.DisplayFormats.DateTimeFormat.DatePickerFormat)" />
    <input type="hidden" id="MomentDateTimeFormat" name="MomentDateTimeFormat" value="@(IIKI.BaseApp.Common.DisplayFormats.DateTimeFormat.MomentDateTimeFormat)" />
    <input type="hidden" id="MomentDateTimeNoSecFormat" name="MomentDateTimeNoSecFormat" value="@(IIKI.BaseApp.Common.DisplayFormats.DateTimeFormat.MomentDateTimeNoSecFormat)" />
    <input type="hidden" id="MomentDateTime24HourFormat" name="MomentDateTime24HourFormat" value="@(IIKI.BaseApp.Common.DisplayFormats.DateTimeFormat.MomentDateTime24HourFormat)" />
    <input type="hidden" id="MomentDateTimeFormatWithOutTimeZone" name="MomentDateTimeFormatWithOutTimeZone" value="@(IIKI.BaseApp.Common.DisplayFormats.DateTimeFormat.MomentDateTimeFormatWithOutTimeZone)" />
    <input type="hidden" id="MomentDateFormatWithOutTimeZone" name="MomentDateFormatWithOutTimeZone" value="@(IIKI.BaseApp.Common.DisplayFormats.DateTimeFormat.MomentDateFormatWithOutTimeZone)" />


    <!--Buttons Titles-->
    <input type="hidden" id="AddButtonText" name="AddButtonText" value="@IIKI.BaseApp.Localization.Resources.ButtonsAndLinks.Add" />
    <input type="hidden" id="AddEditButtonText" name="AddEditButtonText" value="@IIKI.BaseApp.Localization.Resources.ButtonsAndLinks.AddEdit" />
    <input type="hidden" id="EditButtonText" name="EditButtonText" value="@IIKI.BaseApp.Localization.Resources.ButtonsAndLinks.Edit" />
    <input type="hidden" id="RemoveButtonText" name="RemoveButtonText" value="@IIKI.BaseApp.Localization.Resources.ButtonsAndLinks.Remove" />
    <input type="hidden" id="DeleteButtonText" name="DeleteButtonText" value="@IIKI.BaseApp.Localization.Resources.ButtonsAndLinks.Delete" />
    <input type="hidden" id="SaveButtonText" name="SaveButtonText" value="@IIKI.BaseApp.Localization.Resources.ButtonsAndLinks.Save" />
    <input type="hidden" id="SaveAddButtonText" name="SaveAddButtonText" value="@IIKI.BaseApp.Localization.Resources.ButtonsAndLinks.SaveAdd" />
    <input type="hidden" id="ViewDocumentsButtonText" name="ViewDocumentsButtonText" value="Docs" />

    <!--Recor Save status and messages-->
    <input type="hidden" id="RecordSaveStatus_RecordSavedText" name="RecordSaveStatus_RecordSavedText" value="@IIKI.BaseApp.Common.CommonStatus.RecordSaveStatus.RecordSavedText" />
    <input type="hidden" id="RecordSaveStatus_RecordSavedAddText" name="RecordSaveStatus_RecordSavedAddText" value="@IIKI.BaseApp.Common.CommonStatus.RecordSaveStatus.RecordSavedAddText" />

    <input type="hidden" id="RecordSaveStatus_DuplicateRecordText" name="RecordSaveStatus_DuplicateRecordText" value="@IIKI.BaseApp.Common.CommonStatus.RecordSaveStatus.DuplicateRecordText" />
    <input type="hidden" id="DuplicateErrorTitleText" name="DuplicateErrorTitleText" value="@IIKI.BaseApp.Localization.Resources.CommonLabels.DuplicateErrorTitle" />
    <input type="hidden" id="DuplicateRecordErrorText" name="DuplicateRecordErrorText" value="@IIKI.BaseApp.Localization.Resources.CommonLabels.DuplicateRecordError" />

    <input type="hidden" id="RecordSaveStatus_InvalidModelErrorText" name="RecordSaveStatus_InvalidModelErrorText" value="@IIKI.BaseApp.Common.CommonStatus.RecordSaveStatus.InvalidModelText" />
    <input type="hidden" id="InvalidModelErrorTitleText" name="InvalidModelErrorTitleText" value="@IIKI.BaseApp.Localization.Resources.CommonLabels.InvalidModelErrorTitle" />
    <input type="hidden" id="InvalidModelErrorText" name="InvalidModelErrorText" value="@IIKI.BaseApp.Localization.Resources.CommonLabels.InvalidModelError" />

    <input type="hidden" id="ErrorTitleText" name="ErrorTitleText" value="@IIKI.BaseApp.Localization.Resources.CommonLabels.ErrorTitle" />
    <input type="hidden" id="ErrorCommonMessageText" name="ErrorCommonMessageText" value="@IIKI.BaseApp.Localization.Resources.CommonLabels.ErrorCommonMessage" />

    <input type="hidden" id="LoadingFailedErrorTitleText" name="LoadingFailedErrorTitleText" value="@IIKI.BaseApp.Localization.Resources.CommonLabels.LoadingFailedErrorTitle" />
    <input type="hidden" id="LoadingFailedErrorText" name="LoadingFailedErrorText" value="@IIKI.BaseApp.Localization.Resources.CommonLabels.LoadingFailedError" />
    <!--Delete Record permanantly-->
    <input type="hidden" id="DeleteRecordConfirmTitleText" name="DeleteRecordConfirmTitleText" value="@IIKI.BaseApp.Localization.Resources.CommonLabels.DeleteRecordConfirmTitle" />
    <input type="hidden" id="DeleteRecordConfirmAlertTypeText" name="DeleteRecordConfirmAlertTypeText" value="@IIKI.BaseApp.Localization.Resources.CommonLabels.DeleteRecordConfirmAlertType" />
    <input type="hidden" id="DeleteRecordConfirmMessageText" name="DeleteRecordConfirmMessageText" value="@IIKI.BaseApp.Localization.Resources.CommonLabels.DeleteRecordConfirmMessage" />
    <!--Change Record Status as deleted-->
    <input type="hidden" id="RemoveRecordConfirmTitleText" name="DeleteRecordConfirmTitleText" value="@IIKI.BaseApp.Localization.Resources.CommonLabels.RemoveRecordConfirmTitle" />
    <input type="hidden" id="RemoveRecordConfirmAlertTypeText" name="DeleteRecordConfirmAlertTypeText" value="@IIKI.BaseApp.Localization.Resources.CommonLabels.RemoveRecordConfirmAlertType" />
    <input type="hidden" id="RemoveRecordConfirmMessageText" name="DeleteRecordConfirmMessageText" value="@IIKI.BaseApp.Localization.Resources.CommonLabels.RemoveRecordConfirmMessage" />
    <!--Delete popup button text-->
    <input type="hidden" id="ActionConfirmButtonText" name="ActionConfirmButtonText" value="@IIKI.BaseApp.Localization.Resources.CommonLabels.ActionConfirmButtonText" />
    <input type="hidden" id="ActionConfirmButtonColor" name="ActionConfirmButtonColor" value="@IIKI.BaseApp.Localization.Resources.CommonLabels.ActionConfirmButtonColor" />
    <input type="hidden" id="ActionCancelButtonText" name="ActionCancelButtonText" value="@IIKI.BaseApp.Localization.Resources.CommonLabels.ActionCancelButtonText" />
    <input type="hidden" id="ActionCancelButtonColor" name="ActionCancelButtonColor" value="@IIKI.BaseApp.Localization.Resources.CommonLabels.ActionCancelButtonColor" />
    <!--Delete Form Enums-->
    <input type="hidden" id="DeleteFormOptions_RemoveRecordFormId" name="DeleteFormOptions_RemoveRecordFormId" value="@IIKI.BaseApp.Common.CommonStatus.DeleteFormOptions.RemoveRecordFormId" />
    <input type="hidden" id="DeleteFormOptions_RemoveRecordFormFieldId" name="DeleteFormOptions_RemoveRecordFormFieldId" value="@IIKI.BaseApp.Common.CommonStatus.DeleteFormOptions.RemoveRecordFormFieldId" />
    <input type="hidden" id="DeleteFormOptions_DeleteRecordFormId" name="DeleteFormOptions_DeleteRecordFormId" value="@IIKI.BaseApp.Common.CommonStatus.DeleteFormOptions.DeleteRecordFormId" />
    <input type="hidden" id="DeleteFormOptions_DeleteRecordFormFieldId" name="DeleteFormOptions_DeleteRecordFormFieldId" value="@IIKI.BaseApp.Common.CommonStatus.DeleteFormOptions.DeleteRecordFormFieldId" />

    <!--JQuery DataTable language Messages and Texts-->
    <input type="hidden" id="JQueryDataTableAriaSortAscendingText" name="JQueryDataTableAriaSortAscendingText" value="@IIKI.BaseApp.Localization.Resources.JQueryDataTableLabels.AriaSortAscendingText" />
    <input type="hidden" id="JQueryDataTableAriaSortDescendingText" name="JQueryDataTableAriaSortDescendingText" value="@IIKI.BaseApp.Localization.Resources.JQueryDataTableLabels.AriaSortDescendingText" />
    <input type="hidden" id="JQueryDataTableEmptyTableText" name="JQueryDataTableEmptyTableText" value="@IIKI.BaseApp.Localization.Resources.JQueryDataTableLabels.EmptyTableText" />
    <input type="hidden" id="JQueryDataTableInfoEmptyText" name="JQueryDataTableInfoEmptyText" value="@IIKI.BaseApp.Localization.Resources.JQueryDataTableLabels.InfoEmptyText" />
    <input type="hidden" id="JQueryDataTableInfoFilteredText" name="JQueryDataTableInfoFilteredText" value="@IIKI.BaseApp.Localization.Resources.JQueryDataTableLabels.InfoFilteredText" />
    <input type="hidden" id="JQueryDataTableInfoPostFixText" name="JQueryDataTableInfoPostFixText" value="@IIKI.BaseApp.Localization.Resources.JQueryDataTableLabels.InfoPostFixText" />
    <input type="hidden" id="JQueryDataTableInfoText" name="JQueryDataTableInfoText" value="@IIKI.BaseApp.Localization.Resources.JQueryDataTableLabels.InfoText" />
    <input type="hidden" id="JQueryDataTableInfoThousandsText" name="JQueryDataTableInfoThousandsText" value="@IIKI.BaseApp.Localization.Resources.JQueryDataTableLabels.InfoThousandsText" />
    <input type="hidden" id="JQueryDataTableLengthMenuText" name="JQueryDataTableLengthMenuText" value="@IIKI.BaseApp.Localization.Resources.JQueryDataTableLabels.LengthMenuText" />
    <input type="hidden" id="JQueryDataTableLoadingRecordsText" name="JQueryDataTableLoadingRecordsText" value="@IIKI.BaseApp.Localization.Resources.JQueryDataTableLabels.LoadingRecordsText" />
    <input type="hidden" id="JQueryDataTablePaginateFirstText" name="JQueryDataTablePaginateFirstText" value="@IIKI.BaseApp.Localization.Resources.JQueryDataTableLabels.PaginateFirstText" />
    <input type="hidden" id="JQueryDataTablePaginateLastText" name="JQueryDataTablePaginateLastText" value="@IIKI.BaseApp.Localization.Resources.JQueryDataTableLabels.PaginateLastText" />
    <input type="hidden" id="JQueryDataTablePaginateNextText" name="JQueryDataTablePaginateNextText" value="@IIKI.BaseApp.Localization.Resources.JQueryDataTableLabels.PaginateNextText" />
    <input type="hidden" id="JQueryDataTablePaginatePreviousText" name="JQueryDataTablePaginatePreviousText" value="@IIKI.BaseApp.Localization.Resources.JQueryDataTableLabels.PaginatePreviousText" />
    <input type="hidden" id="JQueryDataTableProcessingText" name="JQueryDataTableProcessingText" value="@IIKI.BaseApp.Localization.Resources.JQueryDataTableLabels.ProcessingText" />
    <input type="hidden" id="JQueryDataTableSearchText" name="JQueryDataTableSearchText" value="@IIKI.BaseApp.Localization.Resources.JQueryDataTableLabels.SearchText" />
    <input type="hidden" id="JQueryDataTableZeroRecordsText" name="JQueryDataTableZeroRecordsText" value="@IIKI.BaseApp.Localization.Resources.JQueryDataTableLabels.ZeroRecordsText" />

    <!--Record Statuses-->

    <input type="hidden" id="RecordStatus_All" name="RecordStatus_All" value="@IIKI.BaseApp.Common.CommonStatus.RecordStatus.All" />
    <input type="hidden" id="RecordStatus_NonDeleted" name="RecordStatus_NonDeleted" value="@IIKI.BaseApp.Common.CommonStatus.RecordStatus.NonDeleted" />

    <input type="hidden" id="RecordStatus_Active" name="RecordStatus_Active" value="@IIKI.BaseApp.Common.CommonStatus.RecordStatus.Active" />
    <input type="hidden" id="RecordStatus_ActiveText" name="RecordStatus_ActiveText" value="@IIKI.BaseApp.Localization.Resources.RecordStatusLabels.Active" />

    <input type="hidden" id="RecordStatus_InActive" name="RecordStatus_InActive" value="@IIKI.BaseApp.Common.CommonStatus.RecordStatus.InActive" />
    <input type="hidden" id="RecordStatus_InActiveText" name="RecordStatus_InActiveText" value="@IIKI.BaseApp.Localization.Resources.RecordStatusLabels.InActive" />
    <input type="hidden" id="RecordStatus_Deleted" name="RecordStatus_Deleted" value="@IIKI.BaseApp.Common.CommonStatus.RecordStatus.Deleted" />
    <input type="hidden" id="RecordStatus_DeletedText" name="RecordStatus_DeletedText" value="@IIKI.BaseApp.Localization.Resources.RecordStatusLabels.Deleted" />
    <input type="hidden" id="RecordStatus_Confirmed" name="RecordStatus_Confirmed" value="@IIKI.BaseApp.Common.CommonStatus.RecordStatus.Confirmed" />
    <input type="hidden" id="RecordStatus_ConfirmedText" name="RecordStatus_ConfirmedText" value="@IIKI.BaseApp.Localization.Resources.RecordStatusLabels.Confirmed" />
    <input type="hidden" id="RecordStatus_Saved" name="RecordStatus_Saved" value="@IIKI.BaseApp.Common.CommonStatus.RecordStatus.Saved" />
    <input type="hidden" id="RecordStatus_SavedText" name="RecordStatus_SavedText" value="@IIKI.BaseApp.Localization.Resources.RecordStatusLabels.Saved" />
    <input type="hidden" id="RecordStatus_Blocked" name="RecordStatus_Blocked" value="@IIKI.BaseApp.Common.CommonStatus.RecordStatus.Blocked" />
    <input type="hidden" id="RecordStatus_BlockedText" name="RecordStatus_BlockedText" value="@IIKI.BaseApp.Localization.Resources.RecordStatusLabels.Blocked" />
    <input type="hidden" id="RecordStatus_Disabled" name="RecordStatus_Disabled" value="@IIKI.BaseApp.Common.CommonStatus.RecordStatus.Disabled" />
    <input type="hidden" id="RecordStatus_DisabledText" name="RecordStatus_DisabledText" value="@IIKI.BaseApp.Localization.Resources.RecordStatusLabels.Disabled" />
    <input type="hidden" id="RecordStatus_NotAvailable" name="RecordStatus_NotAvailable" value="@IIKI.BaseApp.Common.CommonStatus.RecordStatus.NotAvailable" />
    <input type="hidden" id="RecordStatus_NotAvailableText" name="RecordStatus_NotAvailableText" value="@IIKI.BaseApp.Localization.Resources.RecordStatusLabels.NotAvailable" />

</div>