@model List<IIKI.BaseApp.Business.Objects.UserNavigation>

@if (Model != null && Model.Count > 0)
{
    string selectedLanguage = "en";
    HttpCookie cookie = HttpContext.Current.Request.Cookies["IIKI_SelectedLanguage"];
    if (cookie != null && cookie.Value != null)
    {
        selectedLanguage = cookie.Value;
    }

    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        @foreach (var navigation in Model)
        {

            if (navigation.IsParent && navigation.SubMenu == null)
            {
                continue;
            }
            bool exit = false;
            bool notParentMenu = false;
            if (navigation.SubMenu != null && navigation.SubMenu.Count > 0)
            {
                foreach (var item in navigation.SubMenu)
                {
                    if (item.Id == 61)
                    {
                        var SubMenu = item.SubMenu;
                    }
                    if (item.IsParent && (item.SubMenu == null || item.SubMenu.Count == 0))
                    {
                        if (notParentMenu == false)
                        {
                            exit = true;
                            continue;
                        }
                    }
                    else
                    {
                        exit = false;
                        notParentMenu = true;
                        continue;
                    }
                }

                if (exit == false)
                {

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown_@navigation.Id" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            @(selectedLanguage.Equals("ur") ? navigation.MenuTitleUrdu : navigation.MenuTitle)
                        </a>

                        @Html.Partial("_NavigationList", navigation.SubMenu)
                    </li>

                    continue;
                }
            }

            if (exit)
            {
                continue;
            }
            <li class="nav-item"><a class="nav-link" href="@Url.Action(navigation.Action, navigation.Controller,new { area=navigation.Area})">@(selectedLanguage.Equals("ur") ? navigation.MenuTitleUrdu : navigation.MenuTitle)</a></li>

        }
    </ul>
    <ul class="navbar-nav me-auto d-flex d-lg-none">
        @foreach (var navigation in Model)
        {

            if (navigation.IsParent && navigation.SubMenu == null)
            {
                continue;
            }
            bool exit = false;
            bool notParentMenu = false;
            if (navigation.SubMenu != null && navigation.SubMenu.Count > 0)
            {
                foreach (var item in navigation.SubMenu)
                {
                    if (item.Id == 61)
                    {
                        var SubMenu = item.SubMenu;
                    }
                    if (item.IsParent && (item.SubMenu == null || item.SubMenu.Count == 0))
                    {
                        if (notParentMenu == false)
                        {
                            exit = true;
                            continue;
                        }
                    }
                    else
                    {
                        exit = false;
                        notParentMenu = true;
                        continue;
                    }
                }

                if (exit == false)
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown_@navigation.Id" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            @(selectedLanguage.Equals("ur") ? navigation.MenuTitleUrdu : navigation.MenuTitle)
                        </a>

                        @Html.Partial("_NavigationListSmall", navigation.SubMenu)
                    </li>
                    continue;
                }
            }

            if (exit)
            {
                continue;
            }
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action(navigation.Action, navigation.Controller,new { area=navigation.Area})">@(selectedLanguage.Equals("ur") ? navigation.MenuTitleUrdu : navigation.MenuTitle)</a>
            </li>

        }
    </ul>

}