@model IIKI.BaseApp.Business.Objects.Navigation
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    string menuName = " Navigation";
    ViewBag.Title = ViewBag.Title + menuName;
    string currentControllerName = this.ViewContext.RouteData.Values["controller"].ToString();
    string currentAreaName = Convert.ToString(this.ViewContext.RouteData.DataTokens["area"]);
}


<div class="card ipage-header  transition animated fadeIn  ">
    <div class="card-body">
        <a class="expand-collapse-header-action" href=""><div class="expand-collapse-header"><i class="fa fa-arrow-up"></i></div></a><h2>@ViewBag.Title</h2>
        <div class="float-right">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
                </ol>
            </nav>
        </div>
    </div>
</div>


<div class="ipage-content">
    @using (Html.BeginForm("AddEdit", currentControllerName,new { Area= currentAreaName }, FormMethod.Post, new { role = "form", @class = "", @id = "AddEditForm" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        <div class="buttons-wraper ipage-buttons-top">
            <div class="row">
                <div class="col-md-12">
                    <div class="float-right">
                        @Html.Partial("_Buttons", new IIKI.BaseApp.Business.Objects.ButtonsViewModel((int)IIKI.BaseApp.Common.PageTypes.AddEdit) { Id = Model.Id, IsDisplaySaveButton = true, IsDisplaySaveAddButton = true, IsDisplayCancelButton = true, SaveButtonType = IIKI.BaseApp.Common.ButtonTypes.Submit, BackURL = Url.Action("Index") })
                    </div>
                </div>
            </div>
        </div>
        <div id="accordion">
            <div class="card icard">
                <div class="card-header">
                    <span class="card-title">@menuName.Trim() Information</span>
                    <a class="collapse-icon" data-bs-toggle="collapse" data-bs-target="#@(menuName.Trim().Replace(" ", "")+"_Info")" aria-expanded="true"></a>
                </div>
                <div id="@(menuName.Trim().Replace(" ", "")+"_Info")" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">

                        <div class="col-md-12">
                            <div class="row form-group">
                                <div class="col-md-4">
                                    @Html.LabelFor(model => model.ParentId, htmlAttributes: new { @class = "control-label" })
                                    @Html.ValidationMessageFor(model => model.ParentId, "", new { @class = "text-danger" })
                                    @Html.DropDownListFor(model => model.ParentId, new SelectList(ViewBag.NavigationParentList as List<IIKI.BaseApp.Common.CommonObjects.DropDownSelectItem>, "Value", "Text"), "", new { @class = "form-control js-select2", @data_placeholder = IIKI.BaseApp.Localization.Resources.CommonLabels.PleaseSelect })
                                </div>
                                <div class="col-md-4">
                                    @Html.LabelFor(model => model.MenuTitle, htmlAttributes: new { @class = "control-label required-field" })
                                    @Html.ValidationMessageFor(m => m.MenuTitle, "", new { @class = "text-danger" })
                                    <div class="keyboard-wrapper">
                                        @Html.EditorFor(model => model.MenuTitle, new { htmlAttributes = new { @class = "form-control keyboardInput", @placeholder = @Html.DisplayNameFor(m => m.MenuTitle) } })

                                    </div>
                                </div>
                                <div class="col-md-4">
                                    @Html.LabelFor(model => model.DisplayOrder, htmlAttributes: new { @class = "control-label required-field" })
                                    @Html.ValidationMessageFor(m => m.DisplayOrder, "", new { @class = "text-danger" })
                                    @Html.EditorFor(model => model.DisplayOrder, new { htmlAttributes = new { @class = "form-control", @placeholder = @Html.DisplayNameFor(m => m.DisplayOrder) } })
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-4">
                                    @Html.LabelFor(model => model.Area, htmlAttributes: new { @class = "control-label" })
                                    @Html.ValidationMessageFor(m => m.Area, "", new { @class = "text-danger" })
                                    @Html.EditorFor(model => model.Area, new { htmlAttributes = new { @class = "form-control", @placeholder = @Html.DisplayNameFor(m => m.Area) } })
                                </div>
                                <div class="col-md-4">
                                    @Html.LabelFor(model => model.Controller, htmlAttributes: new { @class = "control-label" })
                                    @Html.ValidationMessageFor(m => m.Controller, "", new { @class = "text-danger" })
                                    @Html.EditorFor(model => model.Controller, new { htmlAttributes = new { @class = "form-control", @placeholder = @Html.DisplayNameFor(m => m.Controller) } })
                                </div>
                                <div class="col-md-4">
                                    @Html.LabelFor(model => model.Action, htmlAttributes: new { @class = "control-label" })
                                    @Html.ValidationMessageFor(m => m.Action, "", new { @class = "text-danger" })
                                    @Html.EditorFor(model => model.Action, new { htmlAttributes = new { @class = "form-control", @placeholder = @Html.DisplayNameFor(m => m.Action) } })
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-4">
                                    @Html.LabelFor(model => model.ApplicationAreaId, htmlAttributes: new { @class = "control-label" })
                                    @Html.ValidationMessageFor(m => m.ApplicationAreaId, "", new { @class = "text-danger" })
                                    @Html.DropDownListFor(model => model.ApplicationAreaId, new SelectList(ViewBag.ApplicationAreaList as List<IIKI.BaseApp.Common.CommonObjects.DropDownSelectItem>, "Value", "Text"), "", new { @class = "form-control js-select2", @data_placeholder = IIKI.BaseApp.Localization.Resources.CommonLabels.PleaseSelect })

                                </div>
                                <div class="col-md-4">
                                    @Html.LabelFor(model => model.MenuIcon, htmlAttributes: new { @class = "control-label" })
                                    @Html.ValidationMessageFor(m => m.MenuIcon, "", new { @class = "text-danger" })
                                    @Html.EditorFor(model => model.MenuIcon, new { htmlAttributes = new { @class = "form-control", @placeholder = @Html.DisplayNameFor(m => m.MenuIcon) } })

                                </div>
                                <div class="col-md-4 mt-2rem">
                                    @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "control-label-q" })
                                    @Html.ValidationMessageFor(m => m.IsActive, "", new { @class = "text-danger" })
                                    @Html.EditorFor(model => model.IsActive, new { htmlAttributes = new { @class = "checkBoxField" } })

                                </div>
                            </div>
                            <div class="row form-group">

                                <div class="col-md-12">
                                    @Html.LabelFor(model => model.PermissionsList, htmlAttributes: new { @class = "control-label" })
                                    @Html.ValidationMessageFor(m => m.PermissionsList, "", new { @class = "text-danger" })
                                    <input type="hidden" name="PermissionsValues" id="PermissionsValues" />
                                    @Html.ListBox("PermissionsList[]", new MultiSelectList(ViewBag.PermissionsList as List<IIKI.BaseApp.Common.CommonObjects.DropDownSelectItem>, "Value", "Text", Model.PermissionsList), new { id= "PermissionsList", @class = "form-control js-select2", multiple = "multiple", @data_placeholder= IIKI.BaseApp.Localization.Resources.CommonLabels.PleaseSelect, @data_allow_clear="true" })
                                    @*<select id="PermissionsList" name="PermissionsList[]" class="form-control select2" style="width: 100%" multiple="multiple">
            @foreach (var item in ViewBag.PermissionsList)
            {
                string Selected = "";
                if (Model.Permissions != null)
                {
                    string[] Ids = Model.Permissions.Split(',');
                    if (Array.IndexOf(Ids, item.Id.ToString()) >= 0)
                    {
                        Selected = "selected";
                    }
                }
                <option value="@(item.Id)" @(Selected)>@(item.PermissionTitle)</option>
            }
        </select>*@

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="buttons-wraper ipage-buttons-bottom">

            <div class="row">
                <div class="col-md-12">
                    <div class="float-right">
                        @Html.Partial("_Buttons", new IIKI.BaseApp.Business.Objects.ButtonsViewModel((int)IIKI.BaseApp.Common.PageTypes.AddEdit) { Id = Model.Id, IsDisplaySaveButton = true, IsDisplaySaveAddButton = true, IsDisplayCancelButton = true, SaveButtonType = IIKI.BaseApp.Common.ButtonTypes.Submit, BackURL = Url.Action("Index") })
                    </div>
                </div>
            </div>

        </div>
    }


</div>


@section Scripts {

    
    <script>

        $(document).ready(function () {
            $(document).on("click", ".btnFormSubmit", function () {
                if ($("#AddEditForm").valid()) {
                    ShowStickyPopup();
                }
            });
        });
    </script>
}
