@using IIKI.BaseApp.Business.Objects;
@model List<AspNetRole>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "User Roles";
    string currentControllerName = this.ViewContext.RouteData.Values["controller"].ToString();
    string currentAreaName = Convert.ToString(this.ViewContext.RouteData.DataTokens["area"]);
}

<div class="card ipage-header  transition animated fadeIn  ">
    <div class="card-body">
        <a class="expand-collapse-header-action" href=""><div class="expand-collapse-header"><i class="fa fa-arrow-up"></i></div></a><h2>@ViewBag.Title</h2>
        <small>List of @ViewBag.Title.ToLower()</small>
        <div class="float-right">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index","Dashboard", new { area = "Admin" })">Dashboard</a></li>
                    <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
                </ol>
            </nav>
        </div>
    </div>
</div>

<div class=" ipage-content">
    @Html.Partial("_AlertMessage")
    @using (Html.BeginForm("Emails", "Members", new { area = "Manage" }, FormMethod.Post, new { role = "form", @id = "AdminEmailsForm" }))
    {
        @Html.AntiForgeryToken()

        <div class="card icard">
            <div class="card-body">

                <div class="row">
                    <div class="col-md-12">

                        <div class="table-records-responsive itable">
                            <table id="RolesList" class="table table-striped table-bordered table-hover customdatatable">
                                <thead>
                                    <tr>

                                        <th>Name</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>

                                            <td>@item.Name</td>
                                            <td><a id="@item.Id" class="btn btn-xs btn-primary" href="@Url.Action("AddEdit", "RolePermissions", new { area = "BaseAppArea",@Id=item.Id })">Edit Default Rights</a></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    }

</div>
<input type="hidden" value="@Url.Action("ResendEmails", "Members", new { area = "Manage"})" id="ResendEmailURL" name="ResendEmailURL" />




@section Styles {

    <link href="~/Theme/IIKI_Theme/Plugins/jquery-ui-1.12.1/jquery-ui.theme.css" rel="stylesheet" />
}

@section Scripts {



    <script type="text/javascript">

        $(document).ready(function () {

            $('.customdatatable').dataTable({
                "paging": false,
                "searching": false,
                "bAutoWidth": false,
                "aoColumns": [
                    { "sWidth": "180px" },
                    { "sWidth": "60px" }],
                "columnDefs": [{
                    "targets": 1,
                    "orderable": false
                }]
            });
        });
    </script>

    <script>

        function Resendemail(chk) {
            //debugger;
            var emailId = chk.id;
            swal(
                {
                    title: "Resend Email",
                    text: "Are you sure to Resend Email?",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: '#D24637',
                    confirmButtonText: 'Yes, I am sure!',
                    cancelButtonText: "No, cancel it!",
                    closeOnConfirm: true,
                    closeOnCancel: true
                },
        function (isConfirm) {
            if (isConfirm) {
                ShowStickyPopup();
                $.ajax({
                    type: "POST",
                    datatype: 'json',
                    url: "@Url.Action("ResendEmails", "Members", new { area = "Manage" } )",
                    data: {
                        "emailId": emailId
                    },
                    success: function (data) {

                        HideStickyPopup();
                    },
                    error: function (data) {

                        HideStickyPopup();
                        swal({
                            title: "Error",
                            text: "Email could not be Sent. Please try again later.",
                            type: "error"
                        });
                    }
                });
            }
        });

        }
        $('.btnResendEmail').click(function () {
            var emailId = $(this).Id;
            alert(emailId);
        })
    </script>
}