@model List<IIKI.BaseApp.Business.Objects.UserMainModule>
@using System.Security.Claims;
@using IIKI.GoRoomy.WebApp.Utility;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var CurrentUser = ((ClaimsIdentity)Context.User.Identity).GetUserInfo();
    // var ManageEmployeeRightsAddEdit = (((ClaimsIdentity)Context.User.Identity).HasSessionPermission("ManageEmployeeRightsAddEdit") >= 0 ? true : false);

    if (ViewBag.EditUser != null)
    {
        ViewBag.Title = "Edit Rights for " + ViewBag.EditUser.FullName;
    }
    else
    {
        ViewBag.Title = "Add Rights";
    }
    string currentControllerName = this.ViewContext.RouteData.Values["controller"].ToString();
    string currentAreaName = Convert.ToString(this.ViewContext.RouteData.DataTokens["area"]);
}
<div class="card ipage-header  transition animated fadeIn  ">
    <div class="card-body">
        <a class="expand-collapse-header-action" href=""><div class="expand-collapse-header"><i class="fa fa-arrow-up"></i></div></a>
        <h2>@ViewBag.Title</h2>
        <small>Add/Remove Rights of Employee</small>
        <div class="float-right">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
                    <li class="breadcrumb-item"><a href="@Url.Action("Index")">Companies</a></li>
                    <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<div class="ipage-content">
    <div class="card">
        <div class="card-header">
            @if (ViewBag.EditUser != null)
            {
                <span>Add/Remove the rights against Employee</span>
            }
            else
            {
                <span>Enter the Email Address of the Employee to Add as Employee</span>
            }
        </div>
        <div class="card-body">
            <a class="expand-collapse-content-action" href=""><div class="expand-collapse-content"><i class="fa fa-arrow-up"></i></div></a>

            <div class="row">
                <div class="col-12">
                    @if (ViewBag.EditUser != null)
                    {
                        <strong>@(ViewBag.EditUser.FullName)</strong> <u><i><a href="mailto: @ViewBag.EditUser.UserEmail">@ViewBag.EditUser.UserEmail</a></i></u>
                        <div class="float-right">
                            <button type="submit" class="btn btn-dark btn-sm btnFormSubmit" onclick="javascript: document.getElementById('rightsForm').submit()"><i class="fa fa-save"></i> Save</button>
                            <a href="@(Url.Action("Index", "ManageUsers",new { area = "BaseAppArea" } ))" class="btn btn-secondary btn-sm btnBackToList"><i class="fas fa-times"></i> Cancel</a>
                        </div>
                    }
                    else
                    {
                        <a href="#" id="email" name="email" data-pk="@(CurrentUser.RoleName)" data-type="text" data-title="Enter Email Address" data-placeholder="Enter Email Address" class="editable editable-click editable-empty"></a>
                        <div class="float-right">

                            <a href="@(Url.Action("Index", "Users",new { area = "" } ))" class="btn btn-secondary btn-sm btnBackToList"><i class="fas fa-times"></i> Cancel</a>
                        </div>
                    }
                </div>
            </div>

        </div>
    </div>
    @using (Html.BeginForm("AddEdit", currentControllerName, new { Area = currentAreaName }, FormMethod.Post, new { role = "form", @id = "rightsForm" }))
    {
        string SubUserEmail = (ViewBag.EditUser != null ? ViewBag.EditUser.UserEmail : "");
        string SubUserId = (ViewBag.EditUser != null ? ViewBag.EditUser.UserId : "");

        @Html.Hidden("SubUserEmail", SubUserEmail, new { @id = "SubUserEmail" })
        @Html.Hidden("SubUserId", SubUserId, new { @id = "SubUserId" })
        <div id="UserRights">
            @foreach (var module in Model)
            {
                <div class="row">
                    <div class="col-lg-12">
                        <div id="accordion">
                            <div class="card icard">
                                <div class="card-header">
                                    <span class="card-title">@(module.ModuleName) Information</span>
                                    <a class="collapse-icon" data-bs-toggle="collapse" data-bs-target="#@(module.ModuleName.Trim().Replace(" ", "")+"_Info")" aria-expanded="true"></a>
                                </div>
                                <div id="@(module.ModuleName.Trim().Replace(" ", "")+"_Info")" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                  
                                    <div class="card-body" id="moduleId@(module.Id)">
                                        <div class="row form-group">
                                            <div class="col-12">
                                                <label class="">
                                                    <input data-id="@(module.Id)" type="checkbox" value="" data-title="" class="select_all_module selectallmodule@(module.Id)">
                                                    Select All
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            @if (module.ApplicationAreas != null && module.ApplicationAreas.Count > 0)
                                            {
                                                @Html.Partial("_ApplicationAreas", module.ApplicationAreas)
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
</div>



@section Styles {
    @Styles.Render("~/Content/xeditable")
}

@section Scripts {
    @Scripts.Render("~/bundles/xeditable")

    @if (ViewBag.EditUser == null)
    {
        <script type="text/javascript">
            $.fn.editable.defaults.mode = 'inline';
            $(function () {

                $("#SaveRights").hide();
                $("#UserRights").hide();

                var emailField = $("#email")

                emailField.editable({
                    url: 'ValidateSubUser',
                    type: 'text',
                    dataType: 'text',
                    title: 'Enter Email Address',
                    emptytext: 'Click to select Email Address of Sub User',
                    validate: function (value) {
                        if ($.trim(value) == '') return 'This field is required';
                    },
                    error: function (response, newValue) {
                        if (response.status === 500) {
                            $("#SaveRights").hide();
                            $("#UserRights").hide();
                            return 'Service unavailable. Please try later.';
                        } else {
                            $("#SaveRights").hide();
                            $("#UserRights").hide();
                            return response.responseText;
                        }
                    },
                    success: function (response, newValue) {
                        if (response != "Invalid") {
                            $("#SaveRights").show();
                            $("#UserRights").show();
                            $("#SubUserEmail").val(newValue);
                            $("#SubUserId").val(response);
                            return true;
                        }
                        else {
                            $("#SaveRights").hide();
                            $("#UserRights").hide();
                            return 'Service unavailable. Please try later.';
                        }
                    }
                });

                emailField.click();
            });
        </script>
    }
    <script src="~/Scripts/AddEditRights.js"></script>
}

