@model List<IIKI.BaseApp.Business.Objects.UserMainModule>
@using System.Security.Claims;
@using IIKI.GoRoomy.WebApp.Utility;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var CurrentUser = ((ClaimsIdentity)Context.User.Identity).GetUserInfo();
    var ManageEmployeeRightsAddEdit = true;// (((ClaimsIdentity)Context.User.Identity).HasSessionPermission("ManageEmployeeRightsAddEdit") >= 0 ? true : false);

    if (ViewBag.EditUser != null)
    {
        ViewBag.Title = "Edit User Rights for " + ViewBag.EditUser.FullName;
    }
    else
    {
        ViewBag.Title = "Add User Rights";
    }
}

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i class="fa fa-arrow-up"></i>
                </div>
            </a>

            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="@(Url.Action("AdminDashboard","Home"))">Dashboard</a></li>

                    <li class="active">
                        <span>@(ViewBag.Title)</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                @(ViewBag.Title)
            </h2>
            <small>Add/Remove Rights of Employee</small>
        </div>
    </div>
</div>

<div class="content animate-panel">

    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-heading hbuilt">
                    @if (ViewBag.EditUser != null)
                    {
                        <span>Add/Remove the rights against Employee</span>
                    }
                    else
                    {
                        <span>Enter the Email Address of the Employee to Add as Employee</span>
                    }
                </div>
                <div class="panel-body">
                    <div>
                        @if (ViewBag.EditUser != null)
                        {
                            <strong>@(ViewBag.EditUser.FullName)</strong> <u><i><a href="mailto: @ViewBag.EditUser.UserEmail"> @ViewBag.EditUser.UserEmail </a></i></u>
                        }
                        else
                        {
                            <a href="#" id="email" name="email" data-pk="@(CurrentUser.RoleName)" data-type="text" data-title="Enter Email Address" data-placeholder="Enter Email Address" class="editable editable-click editable-empty"></a>
                        }
                        <span id="SaveRights" class="panel-tools">
                            <a class="btn btn-default" href="@(Url.Action("Users", "UserRoles" ))"><i class="fa fa-close"></i> Cancel</a>
                            @if (ManageEmployeeRightsAddEdit)
                            {
                                <button class="btn btn-primary" type="submit" onclick="javascript: document.getElementById('rightsForm').submit()"><i class="fa fa-save"></i> Save</button>
                            }

                        </span>
                    </div>

                </div>

            </div>
        </div>
    </div>
    @using (Html.BeginForm("UserRightsAddEdit", "UserPermissions", FormMethod.Post, new { role = "form", @id = "rightsForm" }))
    {
        string SubUserEmail = (ViewBag.EditUser != null ? ViewBag.EditUser.UserEmail : "");
        string SubUserId = (ViewBag.EditUser != null ? ViewBag.EditUser.UserId : "");

        @Html.Hidden("SubUserEmail", SubUserEmail, new { @id = "SubUserEmail" })
        @Html.Hidden("SubUserId", SubUserId, new { @id = "SubUserId" })
        <div id="UserRights">
            @foreach (var module in Model)
            {
                <div class="row">
                    <div class="col-lg-12">
                        <div class="hpanel">
                            <div class="panel-heading hbuilt">
                                <div class="panel-tools">
                                    <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                                </div>
                                @(module.ModuleName)
                                <label class="control-label pull-right"><input data-id="@(module.Id)" type="checkbox" value="" data-title="" class="select_all_module selectallmodule@(module.Id)"> Select All</label>
                            </div>
                            <div class="panel-body" id="moduleId@(module.Id)">
                                <div class="form-group">
                                    @if (module.ApplicationAreas != null && module.ApplicationAreas.Count > 0)
                                    {
                                        @Html.Partial("_ApplicationAreas", module.ApplicationAreas)
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
</div>


@section Styles {
    @Styles.Render("~/bundles/xeditable/css")
}

@section Scripts {
    @Scripts.Render("~/bundles/xeditable/js")

    @if (ViewBag.EditUser == null)
    {
        <script type="text/javascript">
            $.fn.editable.defaults.mode = 'inline';
            $(function () {

                $("#SaveRights").hide();
                $("#UserRights").hide();

                var emailField = $("#email")

                emailField.editable({
                    url: 'ValidateSubUser',
                    type: 'text',
                    dataType: 'text',
                    title: 'Enter Email Address',
                    emptytext: 'Click to select Email Address of Sub User',
                    validate: function (value) {
                        if ($.trim(value) == '') return 'This field is required';
                    },
                    error: function (response, newValue) {
                        if (response.status === 500) {
                            $("#SaveRights").hide();
                            $("#UserRights").hide();
                            return 'Service unavailable. Please try later.';
                        } else {
                            $("#SaveRights").hide();
                            $("#UserRights").hide();
                            return response.responseText;
                        }
                    },
                    success: function (response, newValue) {
                        if (response != "Invalid") {
                            $("#SaveRights").show();
                            $("#UserRights").show();
                            $("#SubUserEmail").val(newValue);
                            $("#SubUserId").val(response);
                            return true;
                        }
                        else {
                            $("#SaveRights").hide();
                            $("#UserRights").hide();
                            return 'Service unavailable. Please try later.';
                        }
                    }
                });

                emailField.click();
            });
        </script>
    }
    <script src="~/Scripts/AddEditRights.js"></script>
}

